	body { background: #ddd; font: 12px Helvetica, Arial, sans-serif; color: #000; }
	.noborder { border: none !important; }

	body > h1 { text-align: center; padding: 25px 0 10px 0; margin: 0; }
	body > h4 { text-align: center; padding: 0 0 25px 0; margin: 0; }

	/* Basic Table Layout
	\* *********************************************************** */
	
	.priceTable { width: 960px; margin: 0 auto; }
	.priceTable .table { 
		width: 320px; 
		margin: 58px 0;
		-webkit-border-radius: 8px;
				border-radius: 8px;
		background: #fff;
		-webkit-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
				box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
	}

	.priceTable .table h1 {
		background: #9ddfc4;
		font-size: 21px;
		font-weight: bold;
		text-align: center;
		padding: 18px 0; 
		margin: 0;
		border: 1px solid #97ceb7;
	
		text-shadow: 1px 2px 4px rgba(255,255,255,0.5);
		filter: dropshadow(color=rgba(255,255,255,0.5), offx=1, offy=2);
		
		-webkit-box-shadow: inset 1px 1px 3px 1px rgba(186,240,217, 100);
			    box-shadow: inset 1px 1px 3px 1px rgba(186,240,217, 100);
	}

	.priceTable .table h2, .priceTable .table h3 {
		margin: 0;
		text-align: center;
		text-shadow: 1px 2px 4px rgba(255,255,255,0.9);
		filter: dropshadow(color=rgba(255,255,255,0.9), offx=1, offy=2);
		background: #e2faed;
		border: 1px solid #97ceb7;
		border-top: none;
	}
	
	.priceTable .table h2 {	padding: 10px 0 0 0; font-size: 52px; border-bottom: none; }
	.priceTable .table h3 {
		color: #6b6b6b;
		padding: 2px 0 12px 0;
		font-size: 12px;
		font-weight: normal;
	}
	
	.priceTable .table sup { font-weight: normal; font-size: 21px }
	
	.priceTable .circle { 
		margin: -8px 140px;
		height: 20px;
    	width: 40px;
		position: absolute;

     	-webkit-border-radius: 0 0 40px 40px;
		     	border-radius: 0 0 40px 40px;

		background: #e2faed;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#e2faed), color-stop(100%,#b7c9bd));
		background: -webkit-linear-gradient(top, #e2faed 52%,#b7c9bd 100%);
		   background: -moz-linear-gradient(top, #e2faed 52%, #b7c9bd 100%);
		    background: -ms-linear-gradient(top, #e2faed 52%,#b7c9bd 100%);
		     background: -o-linear-gradient(top, #e2faed 52%,#b7c9bd 100%);
		     	background: linear-gradient(to bottom, #e2faed 52%,#b7c9bd 100%);

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2faed', endColorstr='#b7c9bd',GradientType=0 );
     	border-bottom: 1px solid #97ceb7; 
	}
	
	.priceTable ul {
		list-style: none;
		margin: 0;
		padding: 0;
		background: #ffffff;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
		background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	       background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
			background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
			 background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
			    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
		
		text-align: center;
		font-size: 15px;
		color: #44494c;
		border: 1px solid #97ceb7;
		border-top: none;
	}
	
	.priceTable ul li {
		padding: 12px; 
		margin: 0 20px;
		border-bottom: 1px dotted #ccc; 
	}
	
	.priceTable ul li:first-child { padding-top: 23px; }
	.priceTable ul li.action { border: none; padding-bottom: 20px; }
	
	.priceTable .action a {
		display: inline-block;
		width: 80%;
		padding: 10px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		
		background: #bccddd;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bccddd), color-stop(100%,#7f8f9e));
		background: -webkit-linear-gradient(top, #bccddd 0%,#7f8f9e 100%);
		   background: -moz-linear-gradient(top, #bccddd 0%, #7f8f9e 100%);
			 background: -ms-linear-gradient(top, #bccddd 0%,#7f8f9e 100%);
			  background: -o-linear-gradient(top, #bccddd 0%,#7f8f9e 100%);
				 background: linear-gradient(to bottom, #bccddd 0%,#7f8f9e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bccddd', endColorstr='#7f8f9e',GradientType=0 );

		-webkit-border-radius: 8px;
				border-radius: 8px;	
		-webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
				box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
		text-shadow: 1px 2px 4px rgba(255,255,255,0.5);
		filter: dropshadow(color=rgba(255,255,255,0.5), offx=1, offy=2);
		-webkit-box-shadow: inset 1px 1px 3px 1px rgba(255,255,255,0.2);
			    box-shadow: inset 1px 1px 3px 1px rgba(255,255,255,0.2);

		color: #000;
		border: 1px solid #7f8899;	
	}
	
	/* 'Large' Table Modifiers
	\* *********************************************************** */
	.priceTable .table.large { 
		position: absolute;
		width: 340px; 
		margin: 0 310px; 
		border-color: #d77b66; 
	}

	.priceTable .table.large h1 {
		-webkit-border-radius: 8px 8px 0px 0px;
		 		border-radius: 8px 8px 0px 0px;
		color: #fff;
		text-shadow: 1px 2px 4px rgba(215,123,102,0.9);
		filter: dropshadow(color=rgba(215,123,102,0.9), offx=1, offy=2);
		background: #fca78a;
		-webkit-box-shadow: inset 1px 1px 3px 1px rgba(253,200,166,100);
			    box-shadow: inset 1px 1px 3px 1px rgba(253,200,166,100);

		border-color: #b7b761;
		border-bottom: 1px solid #d77b66;
	}
	
	.priceTable .table.large h2 { padding-top: 20px; }
	.priceTable .table.large h3 { padding-bottom: 20px; }
	.priceTable .table.large h2, .priceTable .table.large h3 { background: #f2f5c0; border-color: #b7b761; } 
	.priceTable .table.large ul { 
		background: #f6e5b1;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e5b1), color-stop(100%,#e8d7a3));
		background: -webkit-linear-gradient(top, #f6e5b1 0%,#e8d7a3 100%);
	       background: -moz-linear-gradient(top, #f6e5b1 0%, #e8d7a3 100%);
			background: -ms-linear-gradient(top, #f6e5b1 0%,#e8d7a3 100%);
			 background: -o-linear-gradient(top, #f6e5b1 0%,#e8d7a3 100%);
			    background: linear-gradient(to bottom, #f6e5b1 0%,#e8d7a3 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e5b1', endColorstr='#e8d7a3',GradientType=0 );
		border-color: #b8b669; 
		-webkit-border-radius: 0 0 8px 8px; 
				border-radius: 0 0 8px 8px; 
	} 	
	
	.priceTable .table.large li { border-color: #b7b761; }
	
	.priceTable .table.large .action a {
		background: #eba281;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eba281), color-stop(100%,#aa6343));
		background: -webkit-linear-gradient(top, #eba281 0%,#aa6343 100%);
		   background: -moz-linear-gradient(top, #eba281 0%, #aa6343 100%);
			 background: -ms-linear-gradient(top, #eba281 0%,#aa6343 100%);
			  background: -o-linear-gradient(top, #eba281 0%,#aa6343 100%);
				 background: linear-gradient(to bottom, #eba281 0%,#aa6343 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba281', endColorstr='#aa6343',GradientType=0 );
		border-color: #d5714d;
		color: #fff;
		text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
		filter: dropshadow(color=rgba(0,0,0,0.52), offx=1, offy=2);
	}

	.priceTable .large .circle { 
		margin-left: 150px;
		background: #f2f5c0;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#f2f5c0), color-stop(100%,#c5c7a2));
		background: -webkit-linear-gradient(top, #f2f5c0 52%,#c5c7a2 100%);
		   background: -moz-linear-gradient(top, #f2f5c0 52%, #c5c7a2 100%);
		    background: -ms-linear-gradient(top, #f2f5c0 52%,#c5c7a2 100%);
		     background: -o-linear-gradient(top, #f2f5c0 52%,#c5c7a2 100%);
		        background: linear-gradient(to bottom, #f2f5c0 52%,#c5c7a2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5c0', endColorstr='#c5c7a2',GradientType=0 );
		border-bottom-color: #b7b761; 
	}


	/* 'Left' and 'Right Table Modifiers
	\* *********************************************************** */
	.priceTable .table.left { float: left; -webkit-border-radius: 8px 0px 0px 8px; border-radius: 8px 0px 0px 8px; }
	.priceTable .table.left h2, .priceTable .table.left h3 { border-right: none; } 
	.priceTable .table.left h1 {
		-webkit-border-radius: 8px 0px 0px 0px;
		 		border-radius: 8px 0px 0px 0px;
		 border-right: none; 
	}

	.priceTable .table.left ul { border-color: #b8b669; -webkit-border-radius: 0 0 0 8px; border-radius: 0 0 0 8px; } 	

	.priceTable .table.right { float: right; -webkit-border-radius: 0px 8px 8px 0px; border-radius: 0px 8px 8px 0px; }
	.priceTable .table.right h2, .priceTable .table.right h3 { border-left: none; } 
	.priceTable .table.right h1 {
		-webkit-border-radius: 0px 8px 0px 0px;
			    border-radius: 0px 8px 0px 0px;
		border-left: none; 
	}
	.priceTable .table.right ul { border-color: #b8b669; -webkit-border-radius: 0 0 8px 0; border-radius: 0 0 8px 0; }